/*#region Checkbox*/


  /* https://www.w3schools.com/howto/howto_custom_select.asp */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }


  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #aaa;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/*#endregion*/ 

/*#region Select*/
  /* https://moderncss.dev/custom-select-styles-with-pure-css/ */
  select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 0%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid #777;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    position: relative;
    display: block;
  }
/*#endregion*/ 
  /* My own */

  .plot-div {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
  }

  .plot-div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70% !important;
    height: 50% !important;
  }

  .plot-div .leaflet img {
    width: unset !important;
    height: unset !important;
  }


  .plot-div h2 {
    text-align: center;
  }

  .plot-div p {
    text-align: center;
  }
  
  .graph-type {
      display: block;
      border: 2px solid #777;
      gap: 16px;
  }
  
  .forms {
      display: grid;
      border: 1px solid #999;
      width: 100%;
      grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr auto 0.1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "form-left form-right"
          "preview-pane preview-pane"
          "buttons buttons"
  } 
  
  .forms label {
      font-size: 2em;
  }

  
  .form-left {
      grid-area: form-left;
  }
  
  .form-right {
      grid-area: form-right;
  }
  
  .preview-pane {
      grid-area: preview-pane;
  } 
 
  
  /* .preview-pane img {
      margin-left: 25%;
      width: 400px !important;
      height: 400px !important;
  } */
  
  .buttons {
      display: inline;
      grid-area: buttons;
      padding: 10px;
  }
  
  .preview {
      background-color: #4CAF50;
      border: none;
      color: white;
      width: 80px;
      height: 30px;
      text-align: center;
      font-size: 16px;
  }
  
  .remove {
      background-color: transparent;
      border: none;
      color: #db021c;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 16px;
      float: right;
  }
  
  .config {
      background-color: transparent;
      border: none;
      color: grey;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 16px;
  }


  .config-link{
    color: rgb(62, 109, 240);
    /* font-size: 13px; */
  }

  .config-link:hover {
    font-size: initial;
  } 
  
  
  .close-options {
      float: right;
      display: block;
      position: inherit;
      border: none;
      background-color: grey;
      color: red;
      text-align: center;
  }
  
  /* .form-left {
      float: left;
      position: absolute;
      width: 50%;
      block-size: fit-content;
  } */
  .custom_select {
      position: relative;
        display: block;
  }

  .color-picker-modal {
    display: none;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
  }

  .color-picker-window{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  } 

  .color-selector {
    display: inline-grid;
    grid-template-columns: 1fr;
      gap: 5px;
    margin: 5px;
  }

  .close-color-picker {
    float: right;
    display: block;
    position: inherit;
    border: none;
    background-color: grey;
    color: red;
    text-align: center;
  }

  .open-color-picker {
    display: block;
    position: inherit;
    font-size: 2em;
    border: none;
    background-color: rgb(32, 10, 235);
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .palette-selector {
    display: inline;
  }

  .color-button {
    display: inline;
  }

  

  .graph-modal{
      display: none;
      position: fixed;
      z-index: 1001;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
  }
  
  .graph-options{
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
  }
  
  .graph-options input[type=text] {
      display: block;
  }

  /* https://codepen.io/nikkk-me/pen/abvPjeG CSS for toggle*/
  .switch-button {
    background: rgba(136, 133, 133, 0.56);
    bottom: 0;
    border-radius: 30px;
    width: 240px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: #155FFF;
    position: relative;
    padding-right: 120px;
  }

  .switch-button::before {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      pointer-events: none;
  }

  /* .grouped::before {
    content: "Grouped";
    z-index: 2;
  }

  .pie-chart::before {
    content: "Pie Chart";
    z-index: 2;
  } */
  
  .switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }

  .switch-button-checkbox:checked + .switch-button-label::before {
        transform: translateX(120px);
        transition: transform 100ms linear;
  }
  
  .switch-button-checkbox + .switch-button-label {
        position: relative;
        padding: 15px 0;
        font-size: 18px;
        display: block;
        user-select: none;
        pointer-events: none;
  }

  .switch-button-checkbox + .switch-button-label::before {
          content: "";
          background: rgb(255, 255, 255);
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 30px;
          transform: translateX(0);
          transition: transform 100ms;
  }
  
  .switch-button-label-span {
    position: relative;
    font-size: 18px;
  }

  /* https://www.sliderrevolution.com/resources/styling-radio-buttons/ */
  /* Custom radio buttons */

  .radio-state {
    position: absolute;
    visibility: hidden;
    opacity: 0; 
    pointer-events: none;
  }

  .radio-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #000000;
  }

  .radio-button {
    position: relative;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    /* box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #1768eb; */
    overflow: hidden;
  }
  

  .radio-button::before,
  .radio-button::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }

  /* .radio-button::before {
    box-shadow:
    -4px -2px 4px 0px #d1d9e6,
    4px 2px 8px 0px #fff;
  } */

  .radio-button::after {
    background-color: #afb2b4;
    /* box-shadow:
      -4px -2px 4px 0px #fff,
      4px 2px 8px 0px #d1d9e6; */
    transform: scale3d(1, 1, 1);
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;
  }

  .radio-state:checked ~ .radio-button::after {
    background-color: #155FFF;
  }

  .cross-tbl-container {
    padding: 10px;
  }
  
  .cross-tbl-container table {
    position: sticky;
    border: 1px solid;
    width: 100%;
  }
  
  .cross-tbl-container thead tr:last-child {
    border: 1px solid;
    border-color: black;
  }
  
  .cross-tbl-container th {
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .total-column tbody td:last-child {
    color: #e90000;
    border-left: 1px solid;
    border-color: black;
  }
  
  .cross-tbl-container thead tr:last-child th:first-child {
    border-right: 1px solid;
    border-color: black;
  }
  
  .total-column thead tr:last-child th:last-child {
    border-left: 1px solid;
    border-color: black;
  }
  
  .cross-tbl-container tbody td:first-child {
    border-right: 1px solid;
    border-color: black;
  }
  
  .total-row tbody tr:last-child  {
    color: #e90000;
    border: 1px solid;
    border-color: black;
  }
  
  
  .cross-tbl-container tbody tr:last-child td:first-child {
    font-weight: bold;
    color: black;
  }
  
  .sum-tbl-container tbody tr:last-child td:last-child {
    font-weight: bold;
    color: #e90000;
  }

  .sum-tbl-container {
    padding: 10px;
  }
  .sum-tbl-container table {
    position: sticky;
    border: 1px solid;
    width: 100%;
  }
  .sum-tbl-container thead tr:last-child {
    border: 1px solid;
    border-color: black;
  }
  .sum-tbl-container th {
    padding-left: 3px;
    padding-right: 3px;
  }
  .sum-tbl-container tbody td:last-child {
    color: #e90000;
    border-left: 1px solid;
    border-color: black;
  }

  .sum-tbl-container tbody tr:last-child td:first-child {
    font-weight: bold;
    color: black;
  }

  .sum-tbl-container tbody td:first-child {
    border-right: 1px solid;
    border-color: black;
  }

  /* CSS From help for instruction dropdowns */

  .instructions {
    color: #333;
		border-color: #ddd;
		margin-top: 0px;
		box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  }

  .instructions summary {
		color: #333;
		background-color: #f5f5f5;
    font-size: 20px;
		margin-top: 0;
		margin-bottom: 0;
		border-color: #ddd;
		border-bottom: 1px solid #ddd;
    padding: 5px 10px 5px 10px;
  }

  summary {list-style: none}
  summary::-webkit-details-marker {display: none; }

  

  .instructions summary a, .instructions summary a:link, .instructions summary a:visited, .instructions summary a:active, .instructions summary a:hover {
		font-size: 15px;
		text-decoration: none;
		color: #333;
		outline: none;
	}

 