.img-container {
  float: left;
  width: 50%;
  max-height: 800px;
  padding: 0px;
  overflow: auto;
}

.img-container table {
  position: sticky;
  border-collapse: collapse;
  width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

